*{
    padding:0;
    margin: 0;
}

.hero{
    width: 80%;
    margin:auto;
}

.head1{
    text-align: center;
    font-size: 50px;
    color: tomato;
    line-height: 100px;
    background-color: rgb(214, 202, 31);
}
.head2{
    background-color: bisque;
}
#para{
    background-color: lightgreen;
}

.border{
    text-align:center;
    margin-top: 50px;
    border: 1px solid red;
}
/*  card 1 here */

.card1{
    float: left;
    /* margin-left: 30px; */
    background-color: lightgreen;
    width: 250px;
    height: 300px;
}

.head img{
    width:100%;
}
.text{
    text-align:center;
}
.btn{
    color: #fff;
    width:200px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    border: none;
    border-radius: 20px;
}



.card2{
    margin-left: 60px;
    float: left;
    background-color: lightblue;
    width: 250px;
    height: 300px;
}